
      <table class="table table-hover">
              
          <tbody>
            <tr>
              <th scope="row">Select Doctor Category</th>
                         
            </tr>
            <tr>
              <th scope="row">select Category:</th>
             
              <div class="col-md-2">
                  <form>
                    <select>
                          <option>Cardiologist</option>
                          <option>Physician</option>
                          <option>Gynacologist</option>
                          <option>Neuro Surgeon</option>
                          <option>Dermatologist</option>
                          <option>Phychiatrist</option>
                        </select>
                      </form>
  
    </div>
              
            </tr>
            <tr>
              <th scope="row">            <button type="button" class="btn btn-secondary" (click)="moveToSDoctor()">Next</button> 
              </th>
             
            </tr>
           
            
              
                       
          </tbody>
        </table>
    