<body>
<div>
    	<mat-card class="sign">
				<form class = "form-login" #f="ngForm" (ngSubmit)="logIn(f.value)" [formGroup]="form">
						<h3>Patient Registration</h3>
					<br>
								  <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
								  <div *ngIf="validLogin" class="alert alert-danger">Login Sucess.</div>

								  <label for="NIC">NIC</label>
								  <input
									 formControlName="NIC"
									 type="text"
									 id="inputNIC"
									 ngModel class="form-control"
									 placeholder="NIC">
									 <div *ngIf = "form.get('NIC').touched && form.get('NIC').invalid"class="alert alert-danger">
									 <span *ngIf="form.hasError('NIC', 'NIC')&&form.get('NIC').touched">
									   This NIC not valid.
									  </span>
									  Enter the NIC
									</div>
								  <br>

								  <label for="firstName">First Name</label>
										<input
										   formControlName="firstName"
										   type="text"
										   id="inputfirstName"
										   ngModel class="form-control"
										   placeholder="First Name">
										   <div *ngIf = "form.get('firstName').touched && form.get('firstName').invalid"class="alert alert-danger">
										   <span *ngIf="form.hasError('firstName', 'firstName')&&form.get('firstName').touched">
											 Not valid
											</span>
											Enter the First Name
										  </div>
										<br>

									<label for="lastName">Last Name </label>
												<input
												   formControlName="lastName"
												   type="text"
												   id="inputlastName"
												   ngModel class="form-control"
												   placeholder="Last Name">
												   <div *ngIf = "form.get('lastName').touched && form.get('lastName').invalid"class="alert alert-danger">
												   <span *ngIf="form.hasError('lastName', 'lastName')&&form.get('lastName').touched">
													 Not valid
													</span>
													Enter the Last Name
												  </div>
												<br>

												<label for="email">E-mail</label>
												<input
												   formControlName="email"
												   type="email"
												   id="inputemail"
												   ngModel class="form-control"
												   placeholder="E-Mail">
												   <div *ngIf = "form.get('email').touched && form.get('email').invalid"class="alert alert-danger">
												   <span *ngIf="form.hasError('email', 'email')&&form.get('email').touched">
													 Not valid
													</span>
													Enter the E-Mail
												  </div>
												<br>

												<label for="contactNo">Contact No</label>
												<input
												   formControlName="contactNo"
												   type="contactNo"
												   id="contactNo"
												   ngModel class="form-control"
												   placeholder="contactNo">
												   <div *ngIf = "form.get('contactNo').touched && form.get('contactNo').invalid"class="alert alert-danger">
												   <span *ngIf="form.hasError('contactNo', 'contactNo')&&form.get('contactNo').touched">
													 Not valid
													</span>
													Enter the Contact-No
												  </div>
												<br>

												<label for="inputPassword">Password</label>
												<input
												formControlName="password"
												type="password"
												id="inputPassword"
												ngModel class="form-control"
												placeholder="Password">
												<div *ngIf = "form.get('password').touched && form.get('password').invalid" class = "alert alert-danger">
												  Enter the password
												</div><br>

												<label for="addNo">Address No</label>
												<input
												   formControlName="addNo"
												   type="text"
												   id="inputaddNo"
												   ngModel class="form-control"
												   placeholder="addNo">
												<br>
								
												<label for="addStreet">Street Name</label>
												<input
												   formControlName="addStreet"
												   type="text"
												   id="addStreet"
												   ngModel class="form-control"
												   placeholder="Add Street">
												<br>

												
				<label for="addCity">City Name</label>
				<input
					formControlName="addCity"
					type="text"
					id="addCity"
					ngModel class="form-control"
					placeholder="Add City">
				 <br>
	
	
				 <label for="dob">Date of Birth</label>
				 <input
					 formControlName="dob"
					 type="text"
					 id="dob"
					 ngModel class="form-control"
					 placeholder="Add Date of Birth">
				  <br>
	
				  <label for="occupation">Occupation</label>
				 <input
					 formControlName="occupation"
					 type="text"
					 id="occupation"
					 ngModel class="form-control"
					 placeholder="Occupation">
				  <br>
	
				  <label for="bloodType">Blood Type</label>
				 <input
					 formControlName="bloodType"
					 type="text"
					 id="bloodType"
					 ngModel class="form-control"
					 placeholder="Blood Type">
				  <br>

				  <!-- <label>Marital State</label>

<div class="custom-control custom-radio">
	<input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" value="0" formControlName="maritalState">
	<label class="custom-control-label" for="defaultUnchecked">Married</label>
  </div>
  
 
  <div class="custom-control custom-radio">
	<input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" value="1" formControlName="maritalState" checked>
	<label class="custom-control-label" for="defaultChecked">Unmarried</label>
  </div> -->
				  <label>
					<input type="radio" value="0" formControlName="maritalState">
					  <span>Married</span>
				  </label>
				  &nbsp; &nbsp;
				  <label>
					<input type="radio" value="1" formControlName="maritalState">
					  <span>Unmarried</span>
				  </label>
				  <br>
				<br>
				  <label for="height">Height (in Meters)</label>
				 <input
					 formControlName="height"
					 type="text"
					 id="height"
					 ngModel class="form-control"
					 placeholder="Height">
				  <br>
	
				  <label for="weight">Weight (in Kilograms)</label>
				 <input
					 formControlName="weight"
					 type="text"
					 id="weight"
					 ngModel class="form-control"
					 placeholder="Weight">
				  <br>
					<br>
				  <!-- <label for="nic">NIC</label>
				 <input
					 formControlName="NIC"
					 type="text"
					 id="NIC"
					 ngModel class="form-control"
					 placeholder="Add City">
				  <br> -->

						<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
             
				</form>	

		</mat-card>
</div>
</body>