<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippet">
    <hr>
    
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		<div class="well search-result">
        		<div class="input-group">
        		<input type="text" class="form-control" placeholder="Search">
			      <span class="input-group-btn">
			        <button class="btn btn-info btn-lg" type="button" (click)="moveToPayment()">
							
                        <i class="glyphicon glyphicon-search"></i>
                        Search
                    </button>
			      </span>
			    </div>
        	</div>
           
                    