<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG_311X0Zwk8QwMzEkNa4voxFPJeJhw_5sBwe6QpPyQ7o2kqRI" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Doctor Name</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">Designation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Doctor Name</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">Designation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Doctor</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">Designation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Doctor Name</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">Designation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Doctor Name</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">Designation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Doctor Name</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">Designation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="http://bootdey.com/img/Content/avatar/avatar7.png" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Doctor Name</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">Designation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card product_item">
              <div class="body">
                  <div class="cp_img">
                      <img src="http://bootdey.com/img/Content/avatar/avatar7.png" alt="Product" class="img-fluid">
                      <div class="hover">
                          <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                      </div>
                  </div>
                  <div class="product_details">
                      <h5><a href="ec-product-detail.html">Doctor Name</a></h5>
                      <ul class="product_price list-unstyled">
                          <li class="old_price">Designation</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
        <div>
          <button type="button" class="btn btn-secondary" (click)="moveToAppDate()">Next</button> 

          <div>
       
       
       
    </div>
</div>