<table class="table table-hover">
                  
  <tbody>
   
    <tr>
      <th scope="row">Date</th>
      <td>
        <input type="date" name="date">
      </td>
      
    </tr>
    <tr>
      <th scope="row">Time In</th>
      <td>
        <input type="time" name="timeIn">
      </td>
    </tr>
    <tr>
      <th scope="row">Time Out</th>
      <td>
        <input type="time" name="timeOut">
      </td>
    </tr>
    <tr>
      <th scope="row">Number of appoinments</th>
      <td>
          <input type="text" name="noOfPatients">
      </td>
    </tr>
    <tr>
        <td>
            <input type="submit" name="submit">
        </td>
      </tr>
  </tbody>
</table>