<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb-5 mb-2">
    <!-- Cart Item-->
    <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="#">
                <div class="cart-item-product-thumb"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-title">Doctor's Name</h4><span><strong>Doctor ID:</strong> ID no</span><span><strong>Doctor Type:</strong> type</span>
                </div>
            </a>
        </div>
       
    </div>
    <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="#">
                <div class="cart-item-product-thumb"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-title">Doctor's Name</h4><span><strong>Doctor ID:</strong> ID no</span><span><strong>Doctor Type:</strong> type</span>
                </div>
            </a>
        </div>
       
    </div>
    <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="#">
                <div class="cart-item-product-thumb"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-title">Doctor's Name</h4><span><strong>Doctor ID:</strong> ID no</span><span><strong>Doctor Type:</strong> type</span>
                </div>
            </a>
        </div>
       
    </div>
    <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="#">
                <div class="cart-item-product-thumb"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-title">MLT Name</h4><span><strong>MLT ID:</strong> ID no</span>
                </div>
            </a>
        </div>
       
    </div>
    <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="#">
                <div class="cart-item-product-thumb"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-title">Doctor's Name</h4><span><strong>Doctor ID:</strong> ID no</span><span><strong>Doctor Type:</strong> type</span>
                </div>
            </a>
        </div>
       
    </div>
    
    <!-- Buttons-->
    <hr class="my-2">
    <div class="row pt-3 pb-5 mb-2">
        <div class="col-sm-6 mb-3"><a class="btn btn-style-1 btn-secondary btn-block" (click)="moveToDoctorRegister()"><i class="fe-icon-refresh-ccw"></i>&nbsp;Add a Doctor</a></div>
        <div class="col-sm-6 mb-3"><a class="btn btn-style-1 btn-primary btn-block"  (click)="moveToMLTRegister()"><i class="fe-icon-credit-card"></i>&nbsp;Add MLT</a></div>
    </div>
</div>
