<div class="container bootstrap snippet">
    <div class="panel-body inf-content">
        <div class="row">

            <strong>Information</strong><br>
            <table class="table table-condensed table-responsive table-user-information">
                <tbody>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                Patient ID
                            </strong>
                        </td>
                        <td class="text-primary">
                            <input type="text" name="PID" size="50">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>
                                Patient Name
                            </strong>
                        </td>
                        <td class="text-primary">
                            <input type="text" name="Pname" size="50">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-cloud text-primary"></span>
                                Test Name
                            </strong>
                        </td>
                        <td class="text-primary">
                            <input type="text" name="test" size="50">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                Contact Number
                            </strong>
                        </td>
                        <td class="text-primary">
                            <input type="text" name="contact" size="50">
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                Report ID
                            </strong>
                        </td>
                        <td class="text-primary">
                            <input type="text" name="RID" size="50">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                Appoinment ID
                            </strong>
                        </td>
                        <td class="text-primary">
                            <input type="text" name="AID" size="50">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                Payment
                            </strong>
                        </td>
                        <td class="text-primary">
                            <input type="text" name="payment" size="50">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row" style="text-align:center;">
                                    <div class="col-md-4">
                                        <input type="radio" name="role" value="doctor" formControlName="role"> Paid
                                    </div>
                            </div>
                        </td>
                        <td>
                        <div class="row" style="text-align:center;">
                            <div class="col-md-4">
                                <input type="radio" name="role" value="doctor" formControlName="role"> Not Paid
                            </div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <input type="submit" name="submit" value="Submit">
                    </tr>
                </tbody>
            </table>
</div>

        </div>
    </div>
